@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white; /* This forces the black to disappear */
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #1a1a1a;
}
